{% extends 'base.html' %}

{% block content %}
    <section class="download">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Download</h2>
                    <p>Download the latest version of MeshZen to get started.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Stable Release</h3>
                            <p class="card-text">The latest stable release of MeshZen, tested and ready for production use.</p>
                            <a href="#" class="btn btn-primary">Download Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Development Release</h3>
                            <p class="card-text">The latest development release of MeshZen, with the newest features and bug fixes.</p>
                            <a href="#" class="btn btn-primary">Download Now</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </section>
            {% endblock %}
