{% extends 'base/base.html' %}

{% block content %}
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Key Features</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="feature-box">
                        <div class="icon"><i class="fas fa-cloud"></i></div>
                        <h3>Mesh Repository Integration</h3>
                        <p>Access meshes from the Zenodo repository using your credentials.</p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="feature-box">
                        <div class="icon"><i class="fas fa-cube"></i></div>
                        <h3>Advanced Visualization</h3>
                        <p>Visualize 3D spine meshes with advanced lighting, shading, and camera control.</p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="feature-box">
                        <div class="icon"><i class="fas fa-users"></i></div>
                        <h3>Collaboration Tools</h3>
                        <p>Share meshes with colleagues, add comments, and collaborate on 3D mesh analysis.</p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="feature-box">
                        <div class="icon"><i class="fas fa-search"></i></div>
                        <h3>Powerful Search</h3>
                        <p>Find meshes quickly and easily with our powerful search feature that allows you to filter by mesh type, metadata, and more.</p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="feature-box">
                        <div class="icon"><i class="fas fa-tools"></i></div>
                        <h3>Customizable Tools</h3>
                        <p>Customize your mesh visualization experience with advanced tools such as color mapping, opacity control, and more.</p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="feature-box">
                        <div class="icon"><i class="fas fa-file-export"></i></div>
                        <h3>Export Formats</h3>
                        <p>Export your meshes to popular formats such as OBJ, STL, and PLY for use in other software and analysis tools.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
