{% extends 'base/base.html' %}

{% block content %}
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h1><img src="https://www.svgrepo.com/show/45090/spine.svg" style="width:10%">MeshZen</h1>
                    <p>Discover, visualize and collaborate on 3D spine meshes.</p>
                    
                </div>
                <div class="col-12 col-md-6">
                    <div class="mesh-preview">
                        <div class="preview-box">
                            <div class="preview"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <section class="cta">
        <div class="container">
            
            <a href="{% url 'meshes:mesh_search' %}" class="btn btn-primary">Explore</a>
            <a href="#" class="btn btn-secondary">GitHub</a>
        </div>
    </section>

    
{% endblock %}